@model GestionEmploi.Models.Formateur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Formateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomFormateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomFormateur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groupe.NomGroupe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groupe.NomGroupe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFormateur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
